.wrapper {
    /* width: 1440px;
    height: 3286px; */
    /* top: -2044px;
    left: -195px;
    gap: 0px;
    opacity: 0px; */
    padding: 5rem;
}

.hero {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.logo-container {
    align-items: center;
    display: flex;
    margin: auto;
}

.logo {
    object-fit: cover;
    align-items: center;
}

.navbar-list {
    display: flex;
    width: 800px;
    justify-content: space-between;
    padding: 0;
}

.navbar-element {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.title-container {
    width: 100%;
}

.title {
    font-family: "Proba Pro";
    font-size: 64px;
    font-weight: 400;
    line-height: 80.51px;
    text-align: center;
    color: #192946;
}

.arrow-icon {
    display: flex;
    margin: auto;
}

.paragraph {
    font-family: "Proba Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 17.61px;
    text-align: left;
}

.paragraph-wrapper {
    display: flex;
}

.my-technologies-wrapper {
    width: 100%;
}

.technologies-box {
    display: flex;
    margin: auto;
    width: 100%;
}

.technologies-logo {
    width: 70px;
}

.technologies-header {
    width: 50%;
    display: flex;
}

.technologies-ul {
    width: 50%;
}